.videos-thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  padding-bottom: 1rem;
}

.thumbnail-image {
  width: 100%;
  height: 200px;
}

.videoInfo-container {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
  height: 100%;
}

.videoDetails-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0;
}

.video-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 700;
  flex-grow: 1;
  font-size: 1rem;
}

.channel-details {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem 0 0.2rem;
}

.channel-name {
  font-size: 0.9rem;
  font-weight: 500;
}

.channel-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.more-info {
  display: flex;
}

.level {
  margin: 0rem 0.5rem 0 0;
  font-size: 0.9rem;
}

.language {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

@media (max-width: 420px) {
  .thumbnail-image {
    height: 220px;
  }
}

@media (min-width: 421px) and (max-width: 500px) {
  .thumbnail-image {
    height: 250px;
  }
}

@media (min-width: 501px) and (max-width: 614px) {
  .thumbnail-image {
    height: 300px;
  }
}

@media (min-width: 770px) and (max-width: 900px) {
  .thumbnail-image {
    height: 260px;
  }
}

@media (min-width: 1050px) and (max-width: 1245px) {
  .thumbnail-image {
    height: 240px;
  }
}
