.playlist-videos-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0.6fr);
  grid-gap: 1.1rem;
  max-width: 95%;
  margin: 2rem auto 4rem;
  cursor: pointer;
}

.heading {
  max-width: 95%;
  margin: auto;
  margin-top: 7rem;
}
