.horizontal-video-card {
  display: flex;
  /* max-width: 75%; */
  /* margin: auto; */
  gap: 1rem;
  margin-bottom: 2rem;
  /* background-color: red; */
}

.video-details-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  gap: 0.5rem;
  /* background-color: orange; */
}

.outer-area {
  margin-top: 8rem;
}

.selected-video-thumbnail {
  width: 330px;
  height: 200px;
}

.video-info {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.2rem auto;
  color: var(--dark-gray);
  line-height: 1.5;
}

.channel-logo-playlist-card {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
