.horizontal-video-card {
  display: flex;
  /* max-width: 96%;
  margin: auto; */
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.video-details-area {
  display: flex;
  gap: 1rem;
}

.link-tag {
  text-decoration: none;
  color: inherit;
}

.video-details-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  gap: 0.5rem;
}

.outer-area {
  margin-top: 8rem;
}

.selected-video-thumbnail {
  width: 330px;
  height: 200px;
}

.video-info {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.2rem auto;
  color: var(--dark-gray);
  line-height: 1.5;
}

.channel-logo-playlist-card {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.card-video-title {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.card-channel-details {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.2rem 0 0.1rem;
}

.delete-btn {
  border: none;
  background-color: transparent;
  align-self: flex-start;
  cursor: pointer;
  margin-right: 0.2rem;
}
