.selected-playlist-videos {
  max-width: 75%;
  margin: auto;
}

.modify-playlistname {
  width: 300px;
  padding: 0.4rem;
  font-size: 1.1rem;
}

.user-playlist-action-btns {
  margin-left: 0.7rem;
  display: inline;
}

.save-btn {
  margin-right: 1rem;
}

.selected-playlist-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem auto 2rem;
}

.playlist-action-btn {
  padding: 0.4rem 0.6rem;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
