.selected-playlist-videos {
  max-width: 75%;
  margin: auto;
}

.modify-playlistname {
  width: 300px;
  padding: 0.4rem;
  font-size: 1.1rem;
}

.user-playlist-action-btns {
  margin-left: 0.7rem;
  display: inline;
}

.save-btn {
  margin-right: 1rem;
}

.selected-playlist-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem auto 2rem;
}

.playlist-action-btn {
  padding: 0.4rem 0.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-1 {
  margin-right: 1rem;
}

@media (max-width: 850px) {
  .selected-playlist-videos {
    max-width: 95%;
  }
}

@media (min-width: 851px) and (max-width: 1050px) {
  .selected-playlist-videos {
    max-width: 90%;
  }
}
