.video-container {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 8rem auto;
  height: 120vh;
}

.video-details {
  margin-top: 2rem;
}

.video-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--dark-black-color);
}

.video-details {
  display: flex;
  gap: 25rem;
}

.channel-view {
  display: flex;
  gap: 0.7rem;
}

.channel-info {
  display: flex;
  flex-direction: column;
}

.subscribers-count {
  color: var(--dark-gray);
}

.video-channel-details {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0;
}

.video-channel-name {
  font-size: 0.9rem;
  color: var(--dark-black-color);
  font-size: 0.96rem;
  font-weight: 600;
  margin: 0.2rem 0 0.1rem;
}

.video-action-btns {
  display: flex;
  gap: 1.5rem;
}

.video-action-btn {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.video-description {
  margin-top: 0;
  line-height: 1.5;
  color: var(--dark-gray);
}
