.navbar {
  padding: 0.4rem 2.5rem 0.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.3rem;
}

.nav-item:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.user-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
