.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-top: 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 24%;
}

.input-area {
  display: block;
  margin: 1rem;
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid #ccc;
  width: 100%;
  margin: 0.2rem auto 1rem;
}

.input::placeholder {
  color: #ccc;
}

.w-100 {
  width: 100%;
  margin: 1rem auto;
}

.login-msg {
  margin-right: 0.4rem;
}
